.App {
  text-align: center;
  margin: 10px auto;
  height: 300px;
  width: 300px;
  border: 1px solid red;
  padding: 10px;
}
*{
  box-sizing: border-box;
}
form input{
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  height: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
form button{
  width: 90%;
  height: 30px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  outline: none;
}

